$primaryColor: #3F51B5;
$accentColor: #FF4081;
$lightGreyColor: #ECECEC;

$transitionDuration: 0.15s;

@mixin transition($all) {
  -webkit-transition: $all;
     -moz-transition: $all;
      -ms-transition: $all;
          transition: $all;
}

@mixin transition-delay($params) {
  -webkit-transition-delay: $params;
     -moz-transition-delay: $params;
      -ms-transition-delay: $params;
          transition-delay: $params;
}

@mixin transform($param) {
  -webkit-transform: $param;
     -moz-transform: $param;
      -ms-transform: $param;
          transform: $param;
}

/** General */
body{
	opacity: 0;
	@include transition(all $transitionDuration);
	&.ready{
		opacity: 1;
	}
}

a.md-button:not([disabled]).md-icon-button:hover,
.md-button:not([disabled]).md-icon-button:hover{
	background-color: rgba(158,158,158,0.2);
}

.custom-button{
	text-transform: none;
	min-width: 68px;
	line-height: 30px;
	min-height: 30px;
}

.app-toolbar{
	.action{
		font-size: 20px;
		margin: 8px;
	}
	.help-action{
		position: absolute;
		left: 50%;
		margin-left: -24px;
	}
}

.github-action{
	font-size: 20px;
}
.main-content{
	height: 100%;
}
h5{
	margin: 0;
}
#bottom{
	padding-bottom: 50px;
}

/* order */
md-toolbar{
	position: relative;
	z-index: 3;
}
.help-section{
	z-index: 2;
}
.login-box, 
.chat-room-container{
	position: relative;
	z-index: 1;
}

/* Effects */
/* The starting CSS styles for the enter animation */


/* entypo - custom font */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/** Effects */
.fade{
	opacity: 1;
	@include transition(all $transitionDuration);
}
.fade.ng-hide{
	opacity: 0;
}
.fade.ng-hide-remove {
	opacity: 0;
}
.fade.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}
.fade.ng-hide-add {
	opacity: 1;
}
.fade.ng-hide-add.ng-hide-add-active {
	opacity: 0;
}

.visibility-effect{
	opacity: 1;
	visibility: visible;
	@include transition(all $transitionDuration);
}
.visibility-effect.ng-hide{
	display:block !important;
	visibility: hidden;
	opacity: 0;
	&.md-toolbar-tools{
		display: flex !important;
	}
}
.visibility-effect.ng-hide-remove {
	visibility: hidden;
	opacity: 0;
}
.visibility-effect.ng-hide-remove.ng-hide-remove-active {
	visibility: visible;
	opacity: 1;
}
.visibility-effect.ng-hide-add {
	visibility: visible;
	opacity: 1;
}
.visibility-effect.ng-hide-add.ng-hide-add-active {
	visibility: visible;
	opacity: 0;
}


.ng-enter {
	transition: all linear $transitionDuration;
	opacity: 0;
}
.ng-enter-active {
	opacity: 1;
}
.ng-leave {
	transition: all linear $transitionDuration;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.ng-leave-active {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
}

.slide-effect {
	transition: all linear $transitionDuration;
}
.slide-effect.ng-hide-remove {
	height: 0%;
}
.slide-effect.ng-hide-remove.ng-hide-remove-active {
	height: 100%;
}
.slide-effect.ng-hide-add {
	height: 100%;
}
.slide-effect.ng-hide-add.ng-hide-add-active {
	height: 0%;
}

/** Help area */
.help-section{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: $primaryColor;
	color: white;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	overflow: hidden;
	text-align: left;
	justify-content: flex-start;

	.help-content{
		margin-top: 50px;
		padding: 20px;
		overflow: auto;
	}
	p{
		font-size: 16px;
		line-height: 24px;
	}
	.sample-channel-button{
		@extend .custom-button;
	}
	.repo-label{
		display: block;
		line-height: 48px;
		float: left;
	}
	.foot-links{
		text-align: right;
		float: right;
		font-size: 12px;
		a{
			margin-left: 15px;
			text-decoration: none;
			color: white;
			font-size: 14px;
			&:hover{
				color: $accentColor;
			}
		}
	}
	&.ng-hide-add *{
		display: none;
	}
}

/** Login box */
.login-box{
	.channel-assist{
		p{
			margin: 6px;
			font-size: 14px;
			color: $primaryColor;
		}

		padding: 4px 10px 10px;
		background-color: $lightGreyColor;
		margin-top: 20px;
		border-radius: 5px;
	}
}

/** Chat area */
.chat-message-container{
	margin-bottom: 67px;
	width: 100%;
	overflow: auto;
	padding: 10px;
	.message-block{
		padding: 5px;
	}
	.user-alone{
		color: $primaryColor;
	}
}
.chat-room{
	position: relative;
}

.chat-input-container{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	// margin: 0 20px 20px;
	margin-bottom: 30px;
	padding: 15px 20px 0;
	box-shadow: 0px -3px 3px -1px #EFEFEF;
	
	.author{
		line-height: 30px;
		padding: 0 10px;
		background: #d9d9d9;
		height: 30px;
		margin-right: 10px;
	}

	md-input-container{
		padding: 0;
		.md-input{
			min-height: 26px;
		}
	}

	.md-button{
		margin-right: 0;
		margin-top: 0;
		min-height: 30px;
		line-height: 30px;
	}
}

.message-block{
	.author{
		color: $accentColor;
		font-weight: bold;
	}
	.timestamp{
		font-size: 12px;
		color: #cfcfcf;
		font-style: normal;
		padding-left: 5px;
	}
}

md-sidenav{
	background: #efefef;
	md-content{
		background: #efefef !important;
		h1{
			margin-bottom: 0;
		}
		ul{
			padding: 0;
			li{
				padding: 3px 0;
				cursor: default;
				[class*="entypo-"]{
					padding: 0 7px 0 0;
					@include transition(all $transitionDuration);
				}
				&:hover [class*="entypo-"]{
					padding-right: 5px;
				}
			}
		}
	}
}

/**
 * Media Queries
 */

 /** Smaller devices */
 @media (max-width: 960px) {
	/** Login box */
	.login-box{
		.channel-assist{
			.custom-button{
				min-width: 48px;
				margin-left: 3px;
				margin-right: 3px;
				font-size: 13px;
			}
		}
	}
}